.button {
  padding: 6.5px 12px;
  border: 2px solid #46760a;
  background-color: #6a983c;
  color: #ffffff;
  border-radius: 12px;
  min-width: 90px;
  min-height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  font-family: $font1;

  &:hover{
    background-color: #46760a;
  }
}
