.footer {
  &__top {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $black;
    margin: 0;
    margin-bottom: 16px;
  }

  &__iteam {
    margin-bottom: 16px;
  }

  &__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: $green;
    margin-bottom: 48px;
  }

  &__wrapper {
    margin-bottom: 48px;
  }

  &__filter {
    display: flex;
    padding: 4px 10px;
    margin-right: 16px;
    margin-bottom: 16px;
    display: inline-block;
    text-decoration: none;
    background-color: #f5f5f5;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    border-radius: 12px;
    color: $black;
  }

  &__lorerm {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
   padding-bottom: 64px;
  }
}
